[submodule "college-timetable-backend"]
	path = college-timetable-backend
	url = https://github.com/andreycj/college-timetable-backend
[submodule "college-timetable-frontend"]
	path = college-timetable-frontend
	url = https://github.com/andreycj/college-timetable-frontend
